In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('Billionaire.csv')
data.head()

,Name,NetWorth,Country,Source,Rank,Age,Industry
0,Jeff Bezos,$177 B,United States,Amazon,1,57.0,Technology
1,Elon Musk,$151 B,United States,"Tesla, SpaceX",2,49.0,Automotive
2,Bernard Arnault & family,$150 B,France,LVMH,3,72.0,Fashion & Retail
3,Bill Gates,$124 B,United States,Microsoft,4,65.0,Technology
4,Mark Zuckerberg,$97 B,United States,Facebook,5,36.0,Technology

In [5]:
!pip install sweetviz
import sweetviz as sw

Collecting sweetviz
  Using cached sweetviz-2.1.3-py3-none-any.whl (15.1 MB)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from sweetviz) (1.3.3)
Requirement already satisfied: scipy>=1.3.2 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from sweetviz) (1.7.1)
Requirement already satisfied: tqdm>=4.43.0 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from sweetviz) (4.62.3)
Requirement already satisfied: matplotlib>=3.1.3 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from sweetviz) (3.4.3)
Requirement already satisfied: jinja2>=2.11.1 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from sweetviz) (3.0.2)
Requirement already satisfied: numpy>=1.16.0 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from sweetviz) (1.20.3)
Requirement already satisfied: importlib-resources>=1.2.0 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from sweetviz) (5.2.2)
Requirement already satisfied: zipp>=3.1.0 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from importlib-resources>=1.2.0->sweetviz) (3.6.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.2)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (8.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/envs/saturn/lib/python3.9/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2021.3)
Requirement already satisfied: six in /opt/conda/envs/saturn/lib/python3.9/site-packages (from cycler>=0.10->matplotlib>=3.1.3->sweetviz) (1.16.0)
Installing collected packages: sweetviz
Successfully installed sweetviz-2.1.3

In [6]:
#analyzing the dataset
advert_report = sv.analyze(df)
#display the report
advert_report.show_html('Bilionaries.html')

NameError: name 'sv' is not defined